@import "../scss/index.scss";
.layout-admin {
  transition: margin-left 0.2s;

  &__bar-top {
    background-color: rgb(25, 12, 71);
    //position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 0;  
    height: 70px;
  }

  &__header {
    background-color: rgb(94, 93, 93);
    //position: fixed;
    top: 65px;
    left: 0;
    width: 100%;
    display: flex;
    padding: 0;
    height: 40px;
  }

  &__content {
    min-height: calc(100vh - 110px);
    padding: 10px 25px 25px 25px;
  }

  &__footer {
    text-align: center;
    color: white;
    background-color: rgb(25, 12, 71);
  }
}
