@import "../../../scss/index.scss";

.upload_avatar {
  text-align: center;
}

.register-form {
  &__row {
    &__card {
      margin: 10px;
      &__input {
        font-size: 85%;
        .ant-input-prefix {
          i {
            font-size: 0em + 22px / $defaultFontSize;
          }
        }

        input {
          font-size: 0em + 20px / $defaultFontSize;
          &:focus {
            border-color: $primary-color;
            box-shadow: none;
          }
        }
      }
    }
    &__button {
      margin: 10px 0 10px 0;
      border-radius: 5px;
      background-color: $primary-color-dark;
      color: $font-light;
      border: hidden;

      &:hover {
        background-color: $primary-color-hover;
        color: $font-light;
      }
      &:focus,
      &:active {
        background-color: $primary-color;
        color: $font-light;
        border: 0;
      }
    }
  }
}
